# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python Poetry
poetry.lock
*.egg-info/

# Artifacts and models (if you want to skip large model files)
*.pkl
*.h5

# Logs
*.log

# Mac metadata
*.DS_Store
